#single_book {
    margin-top: 189px;
    margin-bottom: 189px;
    padding-top: 80px;
    .top_items {
      .single_book_title {
        font-weight: 400;
        font-family: "Bona Nova", serif;
        font-size: 48px;
        line-height: 58px;
      }
      .breadcrump {
        display: flex;
        margin-top: 16px;
        li {
          a {
            color: var(--title-color);
            opacity: 0.5;
            padding-left: 5px;
          }
        }
      }
    }
    .single_book_items {
      margin-top: 40px;
      p {
        font-size: 18px;
        line-height: 34px;
        font-weight: 400;
        color: var(--title-color);
        opacity: 0.5;
      }
      .lightGalls {
        width: 100%;
        margin: 40px 0;
        // overflow-y: hidden;
        // height: 538px;
        .lightGall {
          display: none;
          img {
            width: 100%;
            height: 100%;
            object-fit: scale-down;
          }
          &:first-child {
            display: block;
          }
        }
      }
    }
  }
  @media (max-width: 944px) {
    #single_book {
      padding-top: 0px;
      .top_items {
        .single_book_title {
          text-align: center;
          text-transform: uppercase;
          font-size: 28px;
          line-height: 33px;
        }
        .breadcrump {
          display: none;
        }
      }
    }
  }
  